header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF9;
}

.main {
    display: flex;
    background-color: #1F2937;
}